<section class="results">
    <p-button
      icon="pi pi-plus"
      (click)="showDialog(undefined)"
      styleClass="p-button-rounded"
      class="fab-button-fixed"
    ></p-button>
    <div
      class="card flex "
      *ngFor="let hero of heroFilteredList"
    >
      <p-card header="{{ hero?.name }}" [style]="{'margin-bottom': '10px'}">
        <p class="m-0" >
          {{ hero?.description }}
        </p>
        <ng-template pTemplate="footer">
            <p-button
            icon="pi pi-pencil"
            (click)="showDialog(hero)"
            styleClass="p-button-rounded"
            class="fab-button-relative"
          ></p-button>
        </ng-template>
      </p-card>
    </div>
  </section>
<p-dialog header="{{(hero && hero.name!='') ? hero.name : 'New hero'}}" [(visible)]="visible" [style]="{width: '50vw'}" [maximizable]="true">
    <div class="flex flex-column gap-2">
      <label htmlFor="name">Nome</label>
      <input pInputText id="name" [(ngModel)]="hero.name" />
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="power">Potere</label>
      <input pInputText id="power" [(ngModel)]="hero.power" />
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="description">Descrizione</label>
      <textarea rows="5" id="description" cols="30" pInputTextarea [autoResize]="true" [(ngModel)]="hero.description"></textarea>
    </div>
    <div class="flex flex-column gap-2" [style]="{'align-items': 'end'}">
      <p-button icon="pi pi-save" (click)="save()" label="Salva" [style]="{'margin-top': '10px'}"></p-button>
    </div>
</p-dialog>